data=./data/images
num-classes=64
batch-size=64
split-dir=./data/split/mini/
lr=0.05
lr-gamma=0.1
weight-decay=0.0005
optimizer=SGD
meta-val-interval=4
workers=40
meta-val-metric=cosine
arch=densenet121
save-path=./results/mini/densenet121
scheduler=multi_step
scheduler-milestones=[60, 80]
epochs=100
