data=./data/tiered-imagenet/data
num-classes=351
batch-size=32
split-dir=./data/split/tiered/
lr=0.05
lr-gamma=0.1
weight-decay=0.0005
optimizer=SGD
meta-val-interval=4
workers=40
meta-val-metric=cosine
arch=wideres
save-path=./results/tiered/wideres
scheduler=multi_step
scheduler-milestones=[60, 80, 90]
epochs=100
